<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{layout/head :: head}">
    <title></title>
</head>

<body>

<header th:replace="~{layout/header :: header}"></header>

<aside th:replace="~{layout/aside :: aside}"></aside>

<main class="main" id="main">
    <div class="page-title">
        <h1>Blank Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Pages</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Blank</a>
                </li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Example Card</h5>
                        <p>This is an examle page with no contrnt. You can use it as a starter for your custom
                            pages.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Example Card</h5>
                        <p>This is an examle page with no contrnt. You can use it as a starter for your custom
                            pages.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<!-- End #main -->
<!-- Vendor JS Files -->
<footer th:replace="~{layout/footer :: footer}"></footer>

<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>